section {
    margin: 10px 0;
}
section.watch-subreddits {
    display: flex;
    flex-direction: column;
}

.watch-subreddits > input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subreddits-errors {
    display: none;
}

.subreddits-errors.show {
    display: block;
    color: red;
}

.subreddits-errors ul {
    padding: 0px;
    color: initial;
    list-style: none;
    margin: 0px 1em;
}

.query-error {
    display: none;
    margin-bottom: 1em;
}

.query-error.show {
    display: block;
    color: red;
}

.query-error span {
    color: initial;
}

.input-description {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.invalid {
    border: 1px solid rgba(255, 0, 0, 0.35);
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.35);
}

.search ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.search li {
    display: flex;
    flex-wrap: wrap;
}

.search label {
    width: 20%;
}
.search li.name input {
    width: 50%;
}

.search li.subreddit input {
    width: 50%;
}

.search li.query input {
    flex-grow: 1;
}

.search li.query div {
    flex: 1 1 100%;
    padding-left: 20%;
}

.search li.query a {
    text-decoration: none;
}

.search li.notification label {
    width: auto;
}

#messageNotify:disabled {
    cursor: not-allowed;
}

input[type='number'] {
    width: 8em;
    margin: 0 2px;
}

.sign-out {
    float: right;
}
