{
    "extends": "airbnb/base",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "webextensions": true,
        "jest": true
    },
    "globals": {
        "TARGET": true
    },
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "max-len": ["error", 120, 4, {
            "ignoreUrls": true,
            "ignoreComments": false,
            "ignoreRegExpLiterals": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }],
        "no-console": "off",
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
        "global-require": "off",
        "import/prefer-default-export": "off",
        "import/no-extraneous-dependencies":"off"
    }
}
