@import '../../base-styles.pcss';

body {
    @apply text-sm text-skin-text m-0 bg-skin-bg max-h-[600px] overflow-x-hidden overflow-y-auto;
}

a {
    @apply text-skin-link;
}

svg {
    @apply fill-current;
}
