@import url('@/pages/base-styles.pcss');

body {
    @apply m-0 max-h-[600px] overflow-y-auto overflow-x-hidden bg-skin-bg text-sm text-skin-text;
}

@layer base {
    a {
        @apply text-skin-link;
    }

    svg {
        @apply fill-current;
    }
}
