body {
    --font-color: #252525;
    --link-color: #016ed8;
    --bg-color: #ffffff;
    --accent-color: #ff0000;
    --grey: #777777;
    --delimiter-color: #dedede;
}

body.dark-mode {
    --font-color: #e6e6e6;
    --bg-color: #202020;
    --link-color: #98c0ff;
    --accent-color: #f08080;
    --grey: #888888;
    --delimiter-color: #444444;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    color: var(--link-color);
}

body {
    color: var(--font-color);
    padding: 1rem;
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
}

h1 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--grey);
    letter-spacing: 2px;
}

h2 {
    width: 100%;
    margin-top: 1rem;
    border-bottom: 2px solid var(--delimiter-color);
}
