body {
    --font-color: #252729;
    --font-color_h: #000000;
    --font-color_sub: #4c4e4f;
    --bg-color: #FFFFFF;
    --input-bg-color: initial;
    --border-color: initial;
    --link-color: #016ED8;
}

body.dark-mode {
    --font-color: #e8eaed;
    --font-color_h: #ffffff;
    --font-color_sub: #90959b;
    --bg-color: #202023;
    --input-bg-color: #474749;
    --border-color: #737373;
    --link-color: #98c0ff;
}

body.dark-mode button {
    background-color: #4a4a4f;
    border-color: var(--border-color);
    color: #fafafb;
    background-image: none;
}
body.dark-mode button:hover,
body.dark-mode button:focus {
    border-color: #fafafb;
}
body.dark-mode button:active {
    background-color: #737373;
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
}

h1, h2, h3, h4 {
    color: var(--font-color_h);
}

a {
    color: var(--link-color);
}

input[type="text"],
input[type="number"]{
    color: var(--font-color);
    background-color: var(--input-bg-color);
    border-color: var(--border-color);
}

input[type="checkbox"]{
    margin-left: 4px;
}

button
button.sign-out,
button.delete,
button.add-search {
    margin-top: 4px;
}

section {
    margin: 10px 0;
}
section.watch-subreddits {
    display: flex;
    flex-direction: column;
}

.watch-subreddits > input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subreddits-errors {
    display: none;
}

.subreddits-errors.show {
    display: block;
    color: red;
}

.subreddits-errors ul {
    padding: 0px;
    list-style: none;
    margin: 0px 1em;
}

.query-error {
    display: none;
    margin-bottom: 1em;
}

.query-error.show {
    display: block;
    color: red;
}

.input-description {
    font-size: 0.9em;
    color: var(--font-color_sub);
    margin-bottom: 1em;
}

.invalid {
    border: 1px solid rgba(255, 0, 0, 0.35);
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.35);
}

.search ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.search li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.search label {
    width: 20%;
}
.search li.name input {
    width: 50%;
}

.search li.subreddit input {
    width: 50%;
}

.search li.query input {
    flex-grow: 1;
}

.search li.query div {
    flex: 1 1 100%;
    padding-left: 20%;
}

.search li.query a {
    text-decoration: none;
}

.search li.notification label {
    width: auto;
}

#messageNotify:disabled {
    cursor: not-allowed;
}

input[type='number'] {
    width: 8em;
    margin: 0 2px;
}

.sign-out {
    float: right;
}
