body {
    --font-color: #252729;
    --font-color_h: #000000;
    --font-color_sub: #4c4e4f;
    --bg-color: #ffffff;
    --input-bg-color: initial;
    --border-color: initial;
    --link-color: #016ed8;
}

body.dark-mode {
    --font-color: #e8eaed;
    --font-color_h: #ffffff;
    --font-color_sub: #90959b;
    --bg-color: #202023;
    --input-bg-color: #474749;
    --border-color: #737373;
    --link-color: #98c0ff;
}

body.dark-mode button {
    background-color: #4a4a4f;
    border-color: var(--border-color);
    color: #fafafb;
    background-image: none;
    text-shadow: none;
}
body.dark-mode button:hover,
body.dark-mode button:focus {
    border-color: #fafafb;
}
body.dark-mode button:active {
    background-color: #737373;
}

body {
    color: var(--font-color);
    padding: 1em;
    max-width: 100%;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4 {
    color: var(--font-color_h);
}

a {
    color: var(--link-color);
}

input[type='text'],
input[type='number'] {
    color: var(--font-color);
    background-color: var(--input-bg-color);
    border-color: var(--border-color);
}

input[type='checkbox'] {
    margin-left: 4px;
}

button button.sign-out,
button.delete,
button.add-search {
    margin-top: 4px;
}

.update-warning {
    font-size: 0.9em;
}

section {
    margin: 10px 0;
}

section.watch-subreddits {
    display: flex;
    flex-direction: column;
}

.watch-subreddits > input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subreddits-errors {
    display: none;
}

.subreddits-errors.show {
    display: block;
    color: red;
}

.subreddits-errors ul {
    padding: 0px;
    list-style: none;
    margin: 0px 1em;
}

.query-error {
    display: none;
    margin-bottom: 1em;
}

.query-error.show {
    display: block;
    color: red;
}

.input-description {
    font-size: 0.9em;
    color: var(--font-color_sub);
    margin-bottom: 1em;
}

.invalid {
    border: 1px solid rgba(255, 0, 0, 0.35);
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.35);
}

.search ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.search li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.search label {
    width: 20%;
}
.search li.name input {
    width: 50%;
}

.search li.subreddit input {
    width: 50%;
}

.search li.query input {
    flex-grow: 1;
}

.search li.query div {
    flex: 1 1 100%;
    padding-left: 20%;
}

.search li.query a {
    text-decoration: none;
}

.search li.notification label {
    width: auto;
}

#messageNotify:disabled {
    cursor: not-allowed;
}

input[type='number'] {
    width: 8em;
    margin: 0 2px;
}

.sign-out {
    float: right;
}

.text-with-tooltip {
    display: flex;
    align-items: center;
}

button.tooltip-button {
    display: inline-flex;
    padding: 0;
    box-shadow: none;
    border: none;
    background: none;
    background-color: none;
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
    margin-left: 8px;
}

.tooltip-button:focus,
.tooltip-button:hover {
    box-shadow: none !important;
    background-image: none !important;
    border: none !important;
    color: inherit !important;
}

.tooltip-button svg {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: #4499cc;
    stroke-width: 2.3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body.dark-mode .tooltip-button {
    background: none;
}

body.dark-mode .tooltip-button svg {
    stroke: #aaccdd;
}
