@import './colors.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    color: var(--font-color);
    margin: 0;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    overflow-y: auto;
}

svg {
    fill: var(--font-color);
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}
