@import './colors.css';

* {
    box-sizing: border-box;
}

body {
    color: var(--font-color);
    margin: 0;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    overflow: hidden auto;
}

svg {
    fill: var(--font-color);
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}
