@import "./colors.css";
@import "./footer.css";

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 300px;
    width: 300px;
}

.description {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.description span {
    text-align: center;
}

.firefox {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.authorize {
    text-transform: uppercase;
}
