@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: theme('colors.gray.900');
        --color-bg-base: theme('colors.white');
        --sidebar-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
        --color-accent: theme('colors.red.700');
    }
}
