@import 'tailwindcss';
@import './themes.css';

@source '../**/*.{svelte,js,ts,jsx,tsx,html}';

@layer components {
    .ios-checkbox {
        /* Checkbox input should be placed before this element with `peer hidden` classes */
        @apply relative block h-6 w-11 rounded-2xl
        bg-skin-gray2 transition-colors ease-in-out

        before:absolute before:left-1 before:top-1/2
        before:block before:h-5 before:w-5 before:-translate-y-1/2
        before:rounded-full
        before:bg-white before:transition-all  before:ease-in-out  hover:brightness-125  peer-checked:bg-skin-input-checked

        peer-checked:before:translate-x-3/4
        peer-checked:before:border-skin-input-checked;
    }

    .toggle-button {
        @apply flex select-none items-center justify-center rounded-2xl
            border-none bg-skin-gray2 px-2 py-[2px] text-sm text-gray-50 transition-colors
            hover:bg-skin-gray2 hover:brightness-110;
    }

    .toggle-button-on {
        @apply bg-skin-input-checked hover:bg-skin-input-checked;
    }

    .icon-button {
        @apply flex items-center border-transparent bg-transparent px-1 py-0 transition-transform hover:scale-105 hover:bg-transparent;
    }
}

:focus {
    @apply outline-none;
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    @apply ring-1 ring-offset-1 ring-skin-outline ring-offset-transparent;

    outline: none;
}

html {
    width: fit-content;
}
