body {
    /* font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif; */
    --font-color: #000000;
    --main-bg-color: #ffffff;
    --hover-bg-color: rgba(0, 0, 0, 0.06);
    --active-color: rgba(0, 0, 0, 0.06);
    --hover-border-color: rgba(0, 0, 0, 0.1);
    --link-color: #016ed8;
    --grey: grey;
    --disable: rgba(150, 150, 150, 1);
    --green: green;
    --new-mail-color: darkred;
    --footer-font-color: #1a1a1a;
    --footer-outline-color: rgba(0, 0, 0, 0.1);
    --footer-bg-color: rgba(0, 0, 0, 0.06);
    --collapse-line-color: #016ed8;
    --collapse-line-hovered-color: blue;
}

body.dark-mode {
    --font-color: #fafafb;
    --main-bg-color: #2a2a2e;
    --hover-bg-color: #4a4a4f;
    --active-color: #b1b1b3;
    --hover-border-color: #737373;
    --link-color: #98c0ff;
    --grey: lightgrey;
    --disable: rgba(150, 150, 150, 0.8);
    --green: lightgreen;
    --new-mail-color: #ffcccb;
    --footer-font-color: #fafafb;
    --footer-outline-color: #737373;
    --footer-bg-color: #4a4a4f;
    --collapse-line-color: lightgrey;
    --collapse-line-hovered-color: lightskyblue;
}

/* TODO: add styles like button outline, button hover etc */
body.shades-of-purple {
    --font-color: #fdfdfe;
    --main-bg-color: #323263;
    --hover-bg-color: #313250;
    --active-color: #323263;
    --hover-border-color: #7e51bb;
    --link-color: #bfb5f7;
    --grey: #a6a6b3;
    --disable: rgba(150, 150, 150, 0.8);
    --green: lightgreen;
    --new-mail-color: #ffcccb;
    --footer-font-color: #f6d600;
    --footer-outline-color: #7e51bb;
    --footer-bg-color: #323263;
    --collapse-line-color: lightgrey;
    --collapse-line-hovered-color: #b1fdff;
}
